<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>Releasethebadgers Angular JS Practice</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
  </head>
  <body>

  	<div ng-init="foods=['aubergine', 'kumquat', 'artichoke', 'pomegranate']">

		<input type="text" ng-model="favFood" placeholder="enter your favourite food"/>

  		<p>You like {{foods[1]}}, and you also like {{foods[3]}}.</p>

  		<p class="{{color}}">I should be red text!</p> <!-- this doesn't work! -->

  		<ul>
  			<li ng-repeat="food in foods">{{food}}</li>
  		</ul>
  			
	</div>

  </body>
</html>
