<div class="content">

      <button ng-click="order = 'name'">Order by name</button>
			<button ng-click="order = 'colour'">Order by colour</button>
			

			<input type="text" ng-model = "search" placeholder="Search for a food">
			(This currently seems to search in colour attribute as well as name)
			<ul>
  				<li ng-repeat="food in foods | orderBy: order | filter: search" ng-show ="food.available">

  				<img ng-src="{{food.thumb}}" style ="width: 50px; margin-top: -10px; margin-right: 20px;float: left;" ng-show="food.thumb"/>

  				<h3>{{food.name}} - {{food.kg | currency: '£'}}/Kg</h3>
  				<div class="remove" ng-click="removeFood(food)">x</div>
  				<span class="belt" style="background: {{food.colour}}">My colour is {{food.colour}}</span>
  				</li>
  			</ul>

  			<form ng-submit ="addFood()">
  				<input type="text" placeholder="Name" ng-model="newfood.food">
  				<input type="text" placeholder="Colour" ng-model="newfood.colour">
  				<input type="text" placeholder="Kg" ng-model="newfood.kg">
  				<input type="submit" value="Add new food">

  			</form>
		
	
</div>